@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.cart{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  
      position:relative;
         cursor: pointer;
    }

.cart:before{
content: attr(data-count);
position: absolute;
color: white;
border-radius: 50%;
font-size: 15px;
text-align: center;
top: -10px;
width: 20px;

background: red;

opacity: 0;

}
.cart.zero:before{
opacity:1;
}
section{
margin-top: 50px;
display:inline-block;


}
section div{
width: 22%;
height: 93%;
background:#f5f5f5;
padding: 1%;
position: relative;

}

h4{
margin: 5px;
}
h6{
    color: aliceblue;
width:50px;
padding:50px;
margin:10px;
font-size: 10px;

}
button{
padding: 5px;
background:red;
outline: none;
border: none;
cursor: pointer;
}
section div span
{position:absolute;
top: 14px;
left: 13px;
background: red;
width: 300px;
height: 186px;
display: none;
}
section div span img{
width:100%;
height: 100%;

}
section div:nth-child(1)>span.active{
    animation: first 0.5s ease-in;
z-index: 2;
display: block;}
section div:nth-child(2)>span.active{
    animation: second 0.5s ease-in;
    z-index: 2;
    display: block;}
    @keyframes first{
        to{
            width: 30px;
            height: 20px;
            left:1200px;
            top: -70px;
        
        }
    }
.select{
width: 60%;
height:580px;
background-color: burlywood;
overflow: scroll;
position:absolute;
top: -1000px;
left: 20%;
transition: 0.5s;
margin: auto;

}
.select.display{top: 10px;}
.select div{
width: 100%;
height: 200px;
display:flex;
padding: 5px;
border: 1px solid white;
position:relative;
margin: 5px auto;

}
.select div img{
width: 300px;
height: 100%;

}
.select div h4{
padding: 35px;
color:white
}
.select div h6,select div button{
position:relative;
padding: 10px;
left:30%;
top:50%;
color:white;

}
.select div button{
    padding: 5px;
    left: 60%;
    top:55%;
}

.select div span{
display: none;

}
